* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  height: 100dvh;
  display: flex;
}

#container {
  height: 400px;
  width: 400px;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background-color: coral;
}

#container span {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
